* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

label.checkbox input{
	display: none;

}

label.checkbox > span{
	background: red;
	display: inline-block;
	width: 60px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	margin: 100px;
}

label.checkbox > span > span {
	display: inline-block;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: 2px;
	left: 2px;
}

label.checkbox input:checked + span > span {
	right: 2px;
	left: auto;
}